# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
*.pot
*.pyc

# Environment
.env
.venv/
env/
venv/
ENV/

# VS Code / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional: if you want clean git history)
**/migrations/
!**/migrations/__init__.py
